.contacts {
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;

}

.canvas {
  width: 95%;
  // min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  &-main-text{
    font-size: 1.5em;
    color:orange;
  }
  &-text {
    font-size: 0.75em;
  }
}