.home {
  display: flex;
  align-content: space-between;
  width: 95%;
}

.home-text
{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  
}

.home-text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.home-text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.home-text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.home-text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.home-text a:hover
{
  letter-spacing: 6px;
}
.home-text-typer {
  padding-top: 2rem;
  // background-color: #282c34;
  min-height: 20vh;
  display: block;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .home {
    margin-top: 15vh;
    flex-direction: column;
  }
  .home h2
  {
    font-size: 3em;
  }
  .home h3
  {
    font-size: 2em;
  }
}