.stack {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 10;
  color: #fff;
  width: 70%;

  &:hover .color-picker {
    visibility: visible;
    // color: yellow;
  }

  &-icons {
    // margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 1em;
  }

  .color-picker {
    // width: 50%;
    margin-top: 2em;
    align-self: center;
    visibility: hidden;
  }

}
