.projects {
  // margin-top: 10vh;
  color: #fff;
  width: 95%;
}

.carousel-legend {
  margin-top: 1em;
  margin-bottom: 2em;
}

.carousel-img {
  // height: 100%;
  // width: 100%;
  max-height: 500px;
  max-width: 900px;
}